 *{
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
 }
 
 /* Header section starts  */
 .section-1{
    background-color: black;
    width: 1050px;
    margin: 0 auto;
    display: flex;
    border-radius: 30px;
    margin-top: 50px;

 }
 .description{
    width: 50%;
    padding: 80px 80px;
    
 }
 .description h1{
    font-size: 50px;
    color: white;
    
   
   line-height: 60px;
    font-weight: 900;
    

 }
 .description p{
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
    

 }
 .description a{
    background-color: red;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    
 }
 .player-img{
    width: 50%;
    padding-top: 50px;
    padding-right: 20px;
 }
 .player-img img{
    width: 100%;
 }

/* ANIMATION */

.animation h2 {
    color: black;

}
.loading{
    display: flex;
    justify-content: center;
    
}
.box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-left: 10px;
}
@keyframes loading {
    0% {
        background-color: black;
    }

    100% {
        background-color: red;
    }

}

#circle-1 {
   

    animation: loading 0.7s 0.05s ease infinite forwards;


}

#circle-2 {
    

    animation: loading 0.7s 0.1s ease infinite forwards;

}

#circle-3 {
   
    animation: loading 0.7s 0.15s ease infinite forwards;


}

#circle-4 {
   
    animation: loading 0.7s 0.20s ease infinite forwards;


}

#circle-5 {
    
    animation: loading 0.7s 0.30s ease infinite forwards;



}

#circle-6 {
    
    animation: loading 0.7s 0.25s ease infinite forwards;


}

 /* main section */

 .main-div{
    width: 1050px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    padding-bottom: 100px;

 }
.menu{
    width: 200px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 15px 30px 30px 30px ;
    border-radius: 20px;

 }
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 15px;
    width: 200px;
    
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    

}
#blog{
    color: white;
    background-color: red;
}

/* Upcoming match */
 .live-match {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: space-between;
    row-gap: 40px;
    
     


 }

 .banner {
     margin-left: 30px;
    box-shadow: 3px 3px 3px 3px gray;
        
        border-radius: 10px;

 }

 .banner-img img {
     width: 230px;
 }

 .banner-des {
     margin-left: 15px;



 }

 .banner-des h4 {
     font-size: 14px;
 }

 .banner-des a {
     text-decoration: none;
     color: black;
     width: 80px;
     border: 1px solid black;
     padding: 0 10px;
     border-radius: 5px;

 }
.banner-des span{
    margin-left: 40px;
}
.banner-des p{
    font-size: 18px;
}
.icon-info{
   width: 22px;
   position: relative;
   top: 5px;
}
/* OPTIONAL VIEW ALL BUTTON */
.view-all{
    margin-top: 40px;
    /* display: none; */
    visibility: hidden;
}
.view-all a{
    background-color: red;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}


/* Footer starts */

footer{
    background-color: black;
    padding: 50px 150px ;
}
footer , h2{
    color: white;
    text-align: center;
    font-size: 35px;
}
.footer-nav ul{
    list-style-type: none;
}
.footer-nav ul li{
    list-style: none;
    /* float: left; */
    display: inline-block;

}
.footer-nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}
.social-icon li{
    font-size: 10px;
}
.icon{
    font-size: 24px;
    margin-left: 10px;
    color: white;

}

/*------------ 
FOR MOBILE
------------ */
@media only screen and (max-width: 688px) {
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .section-1{
        width: 100%;
        margin: 0;
        margin-right: 0;
        display: block;

    }
    .description{
        padding: 30px;
        text-align: center;
        width: 100%;
       

    }
    .description h1{
        font-size: 28px;
        line-height: 30px;
    }
    .player-img{
        width: 100%;
        padding: 30px;
    }
    .player-img img{
        width: 100%;
        
    }


    .main-div{
        width: 100%;
        display: block;
        margin-top: 10px;
    }
    .menu{
        background-color: white;
       margin: 0 auto;
        
    }
    .menu a{
        border: 1px solid gray;
        border-radius: 15px;
    }

    .live-match{
        grid-template-columns: 1fr;
    }
    .banner{
        width: 100%;
        margin: 0;

    }
    .banner-img{
        width:100%;
    }
    .banner-img img{
        width: 100%;
    }


    footer {
        background-color: black;
        
        padding: 0;
    }
    .footer-nav{

    }
   .footer-nav ul li{
    display: block;
   }

   

    
}


/* FOR TABLET */


@media only screen and (min-width:689px) and (max-width:992px) {
    .section{
        width: 100%;
    }
    .main-div{
        display: block;
    }
    .menu{
        background-color: white;
       width: 100%;
        
       /* display: flex;
       justify-content: space-evenly; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu a{
        width: 200px;
        height: 30px;
        border: 1px solid gray;
        
    }
    .live-match{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

     }
    .banner{
        
    }

        .view-all {
            margin-top: 40px;
            /* display: none; */
            visibility: visible;
            margin: 0 auto;
        }
    footer{
        width: 100%;
    }

    
}
